HOST=0.0.0.0
PORT=1337
APP_KEYS="toBeModified1,toBeModified2"
API_TOKEN_SALT=tobemodifiedsalt
ADMIN_JWT_SECRET=tobemodifiedadminjwt
TRANSFER_TOKEN_SALT=tobemodifiedtransfersalt
JWT_SECRET=tobemodifiedjwtsecret

# Database Settings
DATABASE_CLIENT=postgres
DATABASE_HOST=127.0.0.1
DATABASE_PORT=5432
DATABASE_NAME=kontrol_db
DATABASE_USERNAME=postgres
DATABASE_PASSWORD=postgres
DATABASE_SSL=false

# Webhook Revalidation Secret for Next.js
REVALIDATE_SECRET=kontrol_secret_key_2026
FRONTEND_URL=http://localhost:3000
